{% trans_default_domain "challenges-add-category" %}

{% extends "AdminBundle::base.html.twig" %}

{% form_theme form '@Admin/form/form_rows_manager.html.twig' '@Admin/form/form_errors_manager.html.twig' %}

{% block main_content %}
    <div class="">

        <div class="page-title">
            <div class="title_left">
                <h3>
                    {{ "title" | trans | desc("Category management") | meaning("Title") }}
                </h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ "form.title" | trans | desc("Adding new category") | meaning("Form title") }}</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        {{ form_start(form, {'id': 'demo-form2', 'attr': {'class': 'form-horizontal form-label-left'}}) }}
                        {% if form.vars.errors is not empty %}
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                                    </button>
                                    <ul>
                                        {% for error in form.vars.errors %}
                                            <li><strong>{{ error.message }}</strong></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        <div class="clear"></div>
                        {{ form_row(form.title) }}

                        {{ form_row(form.description) }}

                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="button" onclick="parent.location='{{ path('challenges_category_management') }}'" class="btn btn-primary">{{ "form.cancel-button" | trans | desc("Cancel") | meaning("Cancel button") }}</button>
                                {{ form_widget(form.save) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block javascript %}
    {% javascripts '@jquery_js' '@jquery_inputmask_js' '@bootstrap_js' '@fastclick_js' '@nprogress_js' '@iCheck_js' '@bootstrapDateRangePicker_js' '@customTheme_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function() {
            $(":input").inputmask();
        });
    </script>
{% endblock javascript %}