{% trans_default_domain "challenges-challenge-details" %}

{% extends "AdminBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@iCheck' '@datatables_css' filter='cssrewrite' %}
    <link href="{{ asset_url }}" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock stylesheets %}

{% block main_content %}
    <div class="">

        <div class="page-title">
            <div class="title_left">
                <h3>
                    {{ challenge.title }}
                </h3>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            {# List of administrators #}
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ challenge.description }}</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-3">
                            <h2>Author</h2>
                            <p>{{ challenge.author.username }}, {{ challenge.created | date("M d Y") }}</p>
                        </div>

                        <div class="col-md-3">
                            <h2>Points</h2>
                            <p>{{ challenge.points }} points</p>
                        </div>

                        <div class="col-md-3">
                            <h2>Level</h2>
                            <p>{{ challenge.level }} / 5</p>
                        </div>

                        <div class="col-md-3">
                            <h2>Validations</h2>
                            {# TODO: Validations #}
                        </div>

                        <div class="col-md-12">
                            <h2>Statement</h2>
                            <p>{{ challenge.statement | raw }}</p>
                        </div>
                        {#<table id="datatable" class="table table-striped table-bordered" style="margin: auto">
                            <thead>
                            <tr>
                                <th>{{ "table.th1" | trans | desc("Title")       | meaning("th1") }}</th>
                                <th>{{ "table.th2" | trans | desc("Description") | meaning("th2") }}</th>
                                <th>{{ "table.th3" | trans | desc("Points")      | meaning("th3") }}</th>
                                <th>{{ "table.th4" | trans | desc("Level")       | meaning("th4") }}</th>
                                <th>{{ "table.th5" | trans | desc("Author")      | meaning("th5") }}</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for challenge in challenges %}
                                <tr>
                                    <td>{{ challenge.title }}</td>
                                    <td>{{ challenge.description }}</td>
                                    <td>{{ challenge.points }}</td>
                                    <td>{{ challenge.level }} / 5</td>
                                    <td>{{ challenge.author.username }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>#}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock main_content %}

{% block javascript %}
    {% javascripts '@jquery_js' '@bootstrap_js' '@fastclick_js' '@nprogress_js' '@iCheck_js' '@datatables_js' '@customTheme_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {# Script for the datatable #}
    <script>
        $(document).ready(function() {
            var handleDataTableButtons = function() {
                if ($("#datatable-buttons").length) {
                    $("#datatable-buttons").DataTable({
                        dom: "Bfrtip",
                        buttons: [
                            {
                                extend: "copy",
                                className: "btn-sm"
                            },
                            {
                                extend: "csv",
                                className: "btn-sm"
                            },
                            {
                                extend: "excel",
                                className: "btn-sm"
                            },
                            {
                                extend: "pdfHtml5",
                                className: "btn-sm"
                            },
                            {
                                extend: "print",
                                className: "btn-sm"
                            }
                        ],
                        responsive: true
                    });
                }
            };

            TableManageButtons = function() {
                "use strict";
                return {
                    init: function() {
                        handleDataTableButtons();
                    }
                };
            }();

            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({
                keys: true
            });

            $('#datatable-responsive').DataTable();

            $('#datatable-scroller').DataTable({
                ajax: "js/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });

            var table = $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });

            TableManageButtons.init();
        });
    </script>
{% endblock javascript %}