{% trans_default_domain "administration-inbox" %}
{% extends "AdminBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@bootstrapWYSIWYG_css' filter='cssrewrite' %}
        <link href="{{ asset_url }}" rel="stylesheet"/>
    {% endstylesheets %}

    <style>
        .row-eq-height {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display:         flex;
        }
    </style>
{% endblock stylesheets %}

{% set message_selected = 0 %}

{% block main_content %}
    <div class="">

        <div class="page-title">
            <div class="title_left">
                <h3>
                    {{ "title.main" | trans | desc("Private messages") | meaning("Private messages title") }}
                </h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ "title.inbox" | trans | desc("Inbox") | meaning("Inbox title") }}<small>{{ app.user.infoUser.firstName }} {{ app.user.infoUser.lastName }}</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            {# MAIL LIST #}
                            <div class="col-sm-3 mail_list_column">
                                {#<button id="compose" class="btn btn-sm btn-success btn-block" type="button">{{ "inbox.compose" | trans | desc("COMPOSE") | meaning("Compose button") }}</button>#}
                                {#<a href="#">
                                    <div class="mail_list">
                                        <div class="left">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="right">
                                            <h3>Jane Nobert <small>4.09 PM</small></h3>
                                            <p><span class="badge">To</span> Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="mail_list">
                                        <div class="left">
                                            <i class="fa fa-circle-o"></i><i class="fa fa-paperclip"></i>
                                        </div>
                                        <div class="right">
                                            <h3>Musimbi Anne <small>4.09 PM</small></h3>
                                            <p><span class="badge">CC</span> Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="mail_list">
                                        <div class="left">
                                            <i class="fa fa-paperclip"></i>
                                        </div>
                                        <div class="right">
                                            <h3>Jon Dibbs <small>4.09 PM</small></h3>
                                            <p>Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="mail_list">
                                        <div class="left">
                                            .
                                        </div>
                                        <div class="right">
                                            <h3>Debbis & Raymond <small>4.09 PM</small></h3>
                                            <p>Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="mail_list">
                                        <div class="left">
                                            .
                                        </div>
                                        <div class="right">
                                            <h3>Debbis & Raymond <small>4.09 PM</small></h3>
                                            <p>Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="mail_list">
                                        <div class="left">
                                            <i class="fa fa-circle"></i> <i class="fa fa-edit"></i>
                                        </div>
                                        <div class="right">
                                            <h3>Dennis Mugo <small>3.00 PM</small></h3>
                                            <p>Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="mail_list">
                                        <div class="left">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="right">
                                            <h3>Jane Nobert <small>4.09 PM</small></h3>
                                            <p>Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
                                        </div>
                                    </div>
                                </a>#}
                                {% if messages|length == 0 %}
                                <a href="#">
                                    <div class="mail_list">
                                        <div class="right">
                                            <p>No messages</p>
                                        </div>
                                    </div>
                                </a>
                                {% else %}
                                    {% for message in messages %}
                                        <a href="javascript:void(0)" onclick="showMessage('{{ message.author.infoUser.firstName }} {{ message.author.infoUser.lastName }}', '{{ message.author.email }}', '{{ message.content }}', '{{ message.sent|date("m/d/Y, H:i") }}')">
                                            <div class="mail_list">
                                                <div class="left">
                                                    <i class="fa fa-circle"></i>
                                                </div>
                                                <div class="right">
                                                    <h3>{{ message.author.infoUser.firstName }} {{ message.author.infoUser.lastName }} <small>{{ message.sent | date("m/d/Y, H:i") }}</small></h3>
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            {# /MAIL LIST #}

                            {# CONTENT MAIL #}
                            <div class="col-sm-6 mail_view">
                                <div class="inbox-body" id="inbox_body" style="display: none">

                                    <div class="mail_heading row" id="mail_header">
                                        <div class="col-md-12 text-right">
                                            <button class="btn btn-primary">Write</button>
                                        </div>
                                    </div>

                                    <div class="sender-info" id="mail_sender_info">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong id="sender_name">Jon Doe</strong>
                                                <span id="sender_email">(jon.doe@gmail.com)</span> to
                                                <strong>me</strong>
                                                <a class="sender-dropdown"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="view-mail" id="mail_view">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                                        <p>Riusmod tempor incididunt ut labor erem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                            mollit anim id est laborum.</p>
                                        <p>Modesed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                </div>

                            </div>
                            <!-- /CONTENT MAIL -->

                            <div class="col-md-3 col-sm-3 col-xs-12 fixed_height_320" style="overflow-y: auto;" >
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for admin in admins %}
                                        <tr>
                                            <td>{{ admin.infoUser.firstName }}</td>
                                            <td>{{ admin.infoUser.lastName }}</td>
                                            <td>{{ admin.username }}</td>
                                            <td><a href="javascript:void(0)" onclick="showCompose({{ admin.id }}, '{{ admin.username }}')"><i class="fa fa-send"></i></a></td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block javascript %}
    <!-- compose -->
    <div class="compose col-md-6 col-xs-12">
        <div class="compose-header">
            New Message
            <button type="button" class="close compose-close">
                <span>×</span>
            </button>
        </div>

        <div class="compose-body">
            <div id="alerts"></div>

            <div>
                <label>To: </label> <span id="username_span"></span>
            </div>

            <div class="btn-toolbar editor" data-role="editor-toolbar" data-target="#editor">
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    </ul>
                </div>

                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a data-edit="fontSize 5">
                                <p style="font-size:17px">Huge</p>
                            </a>
                        </li>
                        <li>
                            <a data-edit="fontSize 3">
                                <p style="font-size:14px">Normal</p>
                            </a>
                        </li>
                        <li>
                            <a data-edit="fontSize 1">
                                <p style="font-size:11px">Small</p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group">
                    <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                    <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                    <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                    <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                </div>

                <div class="btn-group">
                    <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
                    <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
                    <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                    <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
                </div>

                <div class="btn-group">
                    <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                    <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                    <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                    <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                </div>

                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
                    <div class="dropdown-menu input-append">
                        <input class="span2" placeholder="URL" type="text" data-edit="createLink" />
                        <button class="btn" type="button">Add</button>
                    </div>
                    <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-cut"></i></a>
                </div>

                <div class="btn-group">
                    <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                    <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                </div>

                <div class="btn-group">
                    <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                    <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                </div>
            </div>

            <div id="editor" class="editor-wrapper"></div>
        </div>

        <div class="compose-footer">
            <button id="send" class="btn btn-sm btn-success" type="button" send_to="">Send</button>
        </div>
    </div>
    <!-- /compose -->

    {% javascripts
        '@jquery_js'
        '@bootstrap_js'
        '@fastclick_js'
        '@nprogress_js'
        '@bootstrapWYSIWYG_js'
        '@customTheme_js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- bootstrap-wysiwyg -->
    <script>
        $(document).ready(function() {
            function initToolbarBootstrapBindings() {
                var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black', 'Courier',
                            'Courier New', 'Comic Sans MS', 'Helvetica', 'Impact', 'Lucida Grande', 'Lucida Sans', 'Tahoma', 'Times',
                            'Times New Roman', 'Verdana'
                        ],
                        fontTarget = $('[title=Font]').siblings('.dropdown-menu');
                $.each(fonts, function(idx, fontName) {
                    fontTarget.append($('<li><a data-edit="fontName ' + fontName + '" style="font-family:\'' + fontName + '\'">' + fontName + '</a></li>'));
                });
                $('a[title]').tooltip({
                    container: 'body'
                });
                $('.dropdown-menu input').click(function() {
                    return false;
                })
                        .change(function() {
                            $(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');
                        })
                        .keydown('esc', function() {
                            this.value = '';
                            $(this).change();
                        });

                $('[data-role=magic-overlay]').each(function() {
                    var overlay = $(this),
                            target = $(overlay.data('target'));
                    overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
                });

                if ("onwebkitspeechchange" in document.createElement("input")) {
                    var editorOffset = $('#editor').offset();

                    $('.voiceBtn').css('position', 'absolute').offset({
                        top: editorOffset.top,
                        left: editorOffset.left + $('#editor').innerWidth() - 35
                    });
                } else {
                    $('.voiceBtn').hide();
                }
            }

            function showErrorAlert(reason, detail) {
                var msg = '';
                if (reason === 'unsupported-file-type') {
                    msg = "Unsupported format " + detail;
                } else {
                    console.log("error uploading file", reason, detail);
                }
                $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>' +
                        '<strong>File upload error</strong> ' + msg + ' </div>').prependTo('#alerts');
            }

            initToolbarBootstrapBindings();

            $('#editor').wysiwyg({
                fileUploadError: showErrorAlert
            });

            prettyPrint();
        });
    </script>
    <!-- /bootstrap-wysiwyg -->

    <script>
        var buttonSend = $("#send");
        var editor     = $("#editor");
        var compose    = $(".compose");

        function showCompose(id, username) {
            if (compose.is(':hidden')) {
                compose.slideToggle();
            }
            $("#username_span").html("<b>" + username + "</b>");

            // setting attribute with the send button
            buttonSend.attr("send_to", id);
        }

        // listener on the send button
        buttonSend.on('click', function() {
            // sending message (post)
            $.ajax({
                url:    "{{ path('administration_send_message') }}",
                type:   "POST",
                data:   {
                    'adminId': $(this).attr("send_to"),
                    'content': editor.html()
                },
                success: function() {
                    location.reload();
                },
                error: function() {
                    //
                }
            });
        });

        function showMessage(author, email, content, sent) {
            // retrieving blocks
            var mail_sender_info    = $("#mail_sender_info");
            var mail_view           = $("#mail_view");
            var div_inbox           = $("#inbox_body");

            if (div_inbox.is(':hidden')) {
                div_inbox.fadeIn();
            }

            mail_sender_info.find("#sender_name").html(author);
            mail_sender_info.find("#sender_email").html('('+email+')');
            mail_view.html(content);

        }
    </script>
{% endblock javascript %}