{% trans_default_domain "players-dasbhoard" %}
{% extends "PlayerBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        '@pnotify_css'
        '@iCheck'
        '@bootstrap_progressBar'
        '@jVectorMap'

        filter='cssrewrite'
    %}
        <link href="{{ asset_url }}" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock stylesheets %}

{% block main_content %}
    {# top tiles #}
    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> {{ "stats.total-users" | trans | desc("Total Categories") | meaning("Total users") }}</span>
            <div class="count">{{ stats.categoryCount }}</div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> {{ "stats.total-admins" | trans | desc("Total Challenges") | meaning("Total admins") }}</span>
            <div class="count">{{ stats.challengesCount }}</div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> {{ "stats.total-players" | trans | desc("Total Players") | meaning("Total Players") }}</span>
            <div class="count">{{ stats.playerCount }}</div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> {{ "stats.total-teams" | trans | desc("Total Teams") | meaning("Total Teams") }}</span>
            <div class="count">{{ stats.teamCount }}</div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            {#<span class="count_top"><i class="fa fa-user"></i> {{ "stats.total-moderators" | trans | desc("Team") | meaning("Total Moderators") }}</span>#}
            {#<p>Commando</p>#}
        </div>

        {% if app.user.hasTeam %}
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> {{ "stats.total-redactors" | trans | desc("Rank") | meaning("Total Redactors") }}</span>
                <div class="count">{{ teamRank }}</div>
            </div>
        {% endif %}
    </div>
    {# /top tiles #}

    <div class="row">
        {% if app.user.hasTeam %}
            {# Recent activities for the team #}
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel tile">
                    <div class="x_title">
                        <h2>Recent activities for your team</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        {# If no activity #}
                        {% if teamActivities|length == 0 %}
                            <p align="center">No recent activity</p>
                        {% endif %}

                        {% for activity in teamActivities %}
                            <article class="media event">
                                <a class="pull-left date">
                                    <p class="month">{{ activity.date|date("M") }}</p>
                                    <p class="day">{{ activity.date|date("d") }}</p>
                                </a>
                                <div class="media-body">
                                    <a class="title" href="#">{{ activity.title }}</a>
                                    <p>{{ activity.description }}</p>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        {# Recent activities for the player #}
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Recent activities for you</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% if playerActivities|length == 0 %}
                        <p align="center">No recent activity</p>
                    {% endif %}

                    {% for activity in playerActivities %}
                        <article class="media event">
                            <a class="pull-left date">
                                <p class="month">{{ activity.date|date("M") }}</p>
                                <p class="day">{{ activity.date|date("d") }}</p>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">{{ activity.title }}</a>
                                <p>{{ activity.description }}</p>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block javascript %}
    {{ parent() }}

    {% javascripts
        '@fastclick_js'
        '@iCheck_js'
        '@skycons_js'

        '@customTheme_js'

    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}