{% trans_default_domain "players-login" %}

{% extends "PlayerBundle::base.html.twig" %}

{% block head %}
    {{ parent() }}

    {% stylesheets
    '@pnotify_css'
    filter='cssrewrite'
    %}
    <link href="{{ asset_url }}" rel="stylesheet"/>
    {% endstylesheets %}


{% endblock head %}

{% block body %}
    <body style="background:#F7F7F7;">
    <div class="">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>

        <div id="wrapper">
            <div id="login" class=" form">
                <section class="login_content">
                    {{ form_start(form) }}
                        <h1>{{ "title" | trans | desc("Reset password") | meaning("Title") }}</h1>
                        {% if error is defined %}
                            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                {{ error }}
                            </div>
                        {% endif %}

                        <div>
                            {{ form_widget(form.password_1) }}
                        </div>

                        <div>
                            {{ form_widget(form.password_confirmation) }}
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary">{{ "button.login" | trans | desc("Reset") | meaning("Reset button") }}</button>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="clearfix"></div>
                        <div class="separator">
                            <div class="clearfix"></div>

                            <br />
                            <div>
                                <h1><i class="fa fa-shield" style="font-size: 26px;"></i> ChallengeMe</h1>
                                <p>©{{ "now"|date("Y") }} {{ "copyrights" | trans | desc("All Rights Reserved.") | meaning("Copyrights") }} <br>ChallengeMe | ESIEA | Hamza ESSAYEGH (Querdos)</p>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </section>
            </div>
        </div>
    </div>

    {% javascripts '@jquery_js' '@pnotify_js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    </body>
{% endblock body %}