{% extends "AdminBundle::base.html.twig" %}

{% block main_content %}
    <div class="">

        <div class="page-title">
            <div class="title_left">
                <h3>
                    Administrators manager
                </h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Adding new administrator</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        {# TODO : check for errors #}
                        {{ form_start(form, {'id': 'demo-form2', 'attr': {'class': 'form-horizontal form-label-left'}}) }}
                            <div class="form-group">
                                {{ form_label(form.infoUser.firstName) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.infoUser.firstName) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.infoUser.lastName) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.infoUser.lastName) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.username) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.username) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.password) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.password) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.email) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.email) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.emailBack) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.emailBack) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.infoUser.birthday) }}
                                <div class="col-md-6 col-sm-6 col-xs xdisplay_inputx form-group has-feedback">
                                    {{ form_widget(form.infoUser.birthday, {'id': 'single_cal1'}) }}
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                </div>
                            </div>

                            <div class="ln_solid"></div>

                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="button" onclick="parent.location='{{ path('administration_adminsManagement') }}'" class="btn btn-primary">Cancel</button>
                                    {{ form_widget(form.save) }}
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block javascript %}
    {% javascripts '@jquery_js' '@bootstrap_js' '@fastclick_js' '@nprogress_js' '@iCheck_js' '@bootstrapDateRangePicker_js' '@customTheme_js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function() {
            $('#single_cal1').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_2",
            });
        });
    </script>
{% endblock javascript %}