{% trans_default_domain "administration-system" %}
{% extends "AdminBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        '@pnotify_css'
        '@hightlightjs_css'

        filter='cssrewrite'
    %}
        <link href="{{ asset_url }}" rel="stylesheet"/>
    {% endstylesheets %}

{% endblock stylesheets %}

{% block main_content %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>{{ "title" | trans | desc("System settings and backups") | meaning("System settings and backups") }}</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ "title2" | trans | desc("Backups") | meaning("Backups") }}</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h2>Steps</h2>
                            <p align="justify">
                                The first way is to use the mysql command as follows:<br>
                                <code>
                                    $ mysqldump --databases challengeme > dump.sql
                                </code>
                                <br><br>

                                It will dump all tables from the database to the single file <code>dump.sql</code>
                                If you want a faster way to do it<br>, you can also let the server do it for you (it will save the file and you will be able to redownload it later)
                                <br><br>

                                <button class="btn btn-primary" id="downloadDumpButton">Dump</button>
                            </p>
                            <br/>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h2>Dumps history</h2>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>File</th>
                                    <th>Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for dump in dumps %}
                                        <tr>
                                            <td>
                                                <a href="{{ vich_uploader_asset(dump, 'dumpFile') }}" target="_blank">{{ dump.dumpFileName }}</a>
                                            </td>
                                            <td>{{ dump.updatedAt|date("m/d/Y, h:i") }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block javascript %}
    {{ parent() }}
    {% javascripts
        '@jquery_js'
        '@highlightjs_js'
        '@pnotify_js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        var buttonDownloadDump = $("#downloadDumpButton");

        buttonDownloadDump.on('click', function() {
            // disabling the button
            $(this).attr("disabled", true);

            // printing notice
            var notice = new PNotify({
                text: "Please Wait",
                type: 'info',
                icon: 'fa fa-spinner fa-spin',
                hide: false,
                buttons: {
                    closer: false,
                    sticker: false
                },
                opacity: .75,
                shadow: false,
                width: "170px"
            });

            $.ajax({
                url: "{{ path('administration_download_dump') }}",
                type: "GET",
                success: function() {
                    notice.remove();
                    buttonDownloadDump.attr("disabled", false);
                    location.reload();
                },
                error: function () {
                    new PNotify({
                        title: "Error",
                        text: "A problem was encountered when dumping the database",
                        styling: "bootstrap3"
                    });
                }
            });

        });
    </script>

{% endblock javascript %}
