{% trans_default_domain "players-my-team" %}

{% extends "PlayerBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
            '@pnotify_css'
            '@dropzone_css'
            '@iCheck'
            '@datatables_css'

            filter='cssrewrite'
    %}
    <link href="{{ asset_url }}" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock stylesheets %}

{% block main_content %}
    <div class="">

        <div class="page-title">
            <div class="title_left">
                <h3>
                    {{ "title" | trans | desc("My Team") | meaning("Title") }}
                </h3>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            {# List of administrators #}
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ "table.title" | trans | desc("Details and information about your team") | meaning("Title for the table") }}</h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        {# If no team #}
                        {% if app.user.team is null %}
                            {% form_theme form
                                    '@Player/form/form_rows_manager.html.twig'
                                    '@Player/form/form_errors_manager.html.twig'
                            %}
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            {% image '@pic_create_team' %}
                                                <img style="width: 100%; display: block;" src="{{ asset_url }}" alt="image" />
                                            {% endimage %}
                                        </div>
                                        <div class="caption">
                                            <p align="center"><a href="javascript:void(0);" onclick="showFormTeam()">Create a team</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            {% image '@pic_join_team' %}
                                                <img style="width: 100%; display: block;" src="{{ asset_url }}" alt="image" />
                                            {% endimage %}
                                        </div>
                                        <div class="caption">
                                            <p align="center"><a href="{{ path('player_teams_list') }}">Join a team</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="form_create_team" style="display: none;">
                                {{ form_start(form, {'id': 'demo-form2', 'attr': {'class': 'form-horizontal form-label-left'}}) }}
                                    {{ form_row(form.name) }}

                                    <div class="ln_solid"></div>

                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                            <button type="button" onclick="showFormTeam()" class="btn btn-primary">{{ "form.cancel-button" | trans | desc("Cancel") | meaning("Cancel button") }}</button>
                                            {{ form_widget(form.save) }}
                                        </div>
                                    </div>
                                {{ form_end(form) }}
                            </div>
                        {% else %}
                            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                                <div class="profile_img">
                                    <div id="crop-avatar">
                                        {# Current avatar #}
                                        {% if team.avatarName is null %}
                                            {% image '@pic_team_base_logo' %}
                                                <img class="img-responsive avatar-view" src="{{ asset_url }}" alt="Avatar" title="Change the avatar" data-toggle="modal" data-target=".bs-example-modal-sm">
                                            {% endimage %}
                                        {% else %}
                                            <img class="img-responsive avatar-view" src="{{ asset(avatarPath) }}" alt="Avatar" title="Change the avatar" data-toggle="modal" data-target=".bs-example-modal-sm">
                                        {% endif %}

                                        {# Modal with the avatar upload form #}
                                        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">

                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                                        </button>
                                                        <h4 class="modal-title" id="myModalLabel2">Change the team's avatar</h4>
                                                    </div>
                                                    {{ form_start(formAvatar) }}
                                                    <div class="modal-body">
                                                            {{ form_row(formAvatar.avatar) }}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        {#<button type="button" class="btn btn-primary">Save changes</button>#}
                                                        {{ form_row(formAvatar.save) }}
                                                    </div>
                                                    {{ form_end(formAvatar) }}
                                                </div>
                                            </div>
                                        </div>

                                        {# Cropping modal #}
                                        <div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <form class="avatar-form" action="crop.php" enctype="multipart/form-data" method="post">
                                                        <div class="modal-header">
                                                            <button class="close" data-dismiss="modal" type="button">&times;</button>
                                                            <h4 class="modal-title" id="avatar-modal-label">Change Avatar</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="avatar-body">

                                                                {# Upload image and data #}
                                                                <div class="avatar-upload">
                                                                    <input class="avatar-src" name="avatar_src" type="hidden">
                                                                    <input class="avatar-data" name="avatar_data" type="hidden">
                                                                    <label for="avatarInput">Local upload</label>
                                                                    <input class="avatar-input" id="avatarInput" name="avatar_file" type="file">
                                                                </div>

                                                                {# Crop and preview #}
                                                                <div class="row">
                                                                    <div class="col-md-9">
                                                                        <div class="avatar-wrapper"></div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="avatar-preview preview-lg"></div>
                                                                        <div class="avatar-preview preview-md"></div>
                                                                        <div class="avatar-preview preview-sm"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="row avatar-btns">
                                                                    <div class="col-md-9">
                                                                        <div class="btn-group">
                                                                            <button class="btn btn-primary" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees">Rotate Left</button>
                                                                            <button class="btn btn-primary" data-method="rotate" data-option="-15" type="button">-15deg</button>
                                                                            <button class="btn btn-primary" data-method="rotate" data-option="-30" type="button">-30deg</button>
                                                                            <button class="btn btn-primary" data-method="rotate" data-option="-45" type="button">-45deg</button>
                                                                        </div>
                                                                        <div class="btn-group">
                                                                            <button class="btn btn-primary" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees">Rotate Right</button>
                                                                            <button class="btn btn-primary" data-method="rotate" data-option="15" type="button">15deg</button>
                                                                            <button class="btn btn-primary" data-method="rotate" data-option="30" type="button">30deg</button>
                                                                            <button class="btn btn-primary" data-method="rotate" data-option="45" type="button">45deg</button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <button class="btn btn-primary btn-block avatar-save" type="submit">Done</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        {# /.modal #}

                                        {# Loading state #}
                                        <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
                                    </div>
                                    {# end of image cropping #}

                                </div>
                                <h3>
                                    {{ team.name }}
                                </h3>

                                <ul class="list-unstyled user_data">
                                    {# Points #}
                                    <li>
                                        <i class="fa fa-bullseye"></i> <b>Points :</b> {{ team.points }}
                                    </li>

                                    {# Rank #}
                                    <li>
                                        <i class="fa fa-area-chart"></i> <b>Rank :</b> 1
                                    </li>
                                </ul>

                                <br/>
                                {# challenge completion #}
                                <h4>Challenges completion</h4>
                                <ul class="list-unstyled user_data">
                                    {% for category in categories %}
                                        <li>
                                            <p>{{ category.title }}</p>
                                            <div class="progress progress_sm">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70"></div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {# end of skills #}
                            </div>

                            {# Team members #}
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Team members</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Username</th>
                                                    <th>Role</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for player in team.players %}
                                                <tr>
                                                    <th scope="row">{{ loop.index }}</th>
                                                    <td>{{ player.infoUser.firstname }}</td>
                                                    <td>{{ player.infoUser.lastname }}</td>
                                                    <td>{{ player.username }}</td>
                                                    <td>
                                                        {% if player.username == team.leader.username %}
                                                            Leader
                                                        {% else %}
                                                            Member
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                            {# Team activity report #}
                            <div class="col-md-9 col-sm-9 col-xs-12">

                                <div class="profile_title">
                                    <div class="col-md-6">
                                        <h2>Team Activity Report</h2>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                                        </div>
                                    </div>
                                </div>
                                {# start of user-activity-graph #}
                                <div id="graph_bar" style="width:100%; height:280px;"></div>
                                {# end of user-activity-graph #}

                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#tab_content1" title="Players that asked to join the team" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">
                                                Demands
                                            </a>
                                        </li>
                                        {% if app.user == team.leader %}
                                            <li role="presentation" class="">
                                                <a href="#tab_content2" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">
                                                    User management
                                                </a>
                                            </li>

                                            <li role="presentation" class="">
                                                <a href="#tab_content3" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">
                                                    Roles management
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        {# Demands tab #}
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="profile-tab">
                                            <table class="data table table-striped no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Firstname</th>
                                                        <th>Lastname</th>
                                                        <th>Username</th>
                                                        <td>Status</td>
                                                        <th>Date</th>
                                                        {% if team.leader == app.user %}
                                                            <th>Action</th>
                                                        {% endif %}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for demand in demands %}
                                                        <tr>
                                                            <td>{{ loop.index }}</td>
                                                            <td>{{ demand.player.infoUser.firstName }}</td>
                                                            <td>{{ demand.player.infoUser.lastName }}</td>
                                                            <td>{{ demand.player.username }}</td>
                                                            <td>
                                                                {% if demand.status == 0 %}
                                                                    <span class="label label-warning">Waiting</span>
                                                                {% elseif demand.status == 1 %}
                                                                    <span class="label label-danger">Declined</span>
                                                                {% else %}
                                                                    <span class="label label-success">Accepted</span>
                                                                {% endif %}
                                                            </td>
                                                            <td>{{ demand.date | date("m/d/Y") }}</td>
                                                            {% if app.user == team.leader %}
                                                                <td class="vertical-align-mid">
                                                                    {% if   demand.status == 0 %}
                                                                        <button type="button" class="btn btn-success btn-xs" onclick="window.location.href='{{ path('player_edit_demand', {'demandId': demand.id, 'status': 2}) }}'">Accept</button>
                                                                        <button type="button" class="btn btn-danger btn-xs"  onclick="window.location.href='{{ path('player_edit_demand', {'demandId': demand.id, 'status': 1}) }}'">Decline</button>
                                                                    {% else %}
                                                                        <button type="button" class="btn btn-info btn-xs" onclick="window.location.href='{{ path('player_clear_demand', {'demandId': demand.id }) }}'">Clear</button>
                                                                    {% endif %}
                                                                </td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

                                        {% if app.user == team.leader %}
                                            {# User management tab #}
                                            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                                <table class="data table table-striped no-margin">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Firstname</th>
                                                        <th>Lastname</th>
                                                        <th>Username</th>
                                                        <th>Role</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for player in team.players %}
                                                        {% if player != app.user %}
                                                            <tr>
                                                                <td>{{ loop.index }}</td>
                                                                <td>{{ player.infoUser.firstName }}</td>
                                                                <td>{{ player.infoUser.lastName }}</td>
                                                                <td>{{ player.username }}</td>
                                                                <td>
                                                                    {# TODO: Members role #}
                                                                    Member
                                                                </td>
                                                                <td>
                                                                    <button type="button" class="btn btn-danger btn-xs" onclick="window.location.href='{{ path('player_remove_from_team', {'playerId': player.id}) }}'">Remove</button>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>

                                            {# Roles management tab #}
                                            <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                                <table class="data table table-striped no-margin">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Role name</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {#{% for player in team.players %}
                                                        {% if player != app.user %}
                                                            <tr>
                                                                <td>{{ loop.index }}</td>
                                                                <td>{{ player.infoUser.firstName }}</td>
                                                                <td>{{ player.infoUser.lastName }}</td>
                                                                <td>{{ player.username }}</td>
                                                                <td>
                                                                    #}{# TODO: Members role #}{#
                                                                    Member
                                                                </td>
                                                                <td>
                                                                    <button type="button" class="btn btn-danger btn-xs" onclick="window.location.href='{{ path('player_remove_from_team', {'playerId': player.id}) }}'">Remove</button>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}#}
                                                    </tbody>
                                                </table>

                                                <a class="btn btn-success" id="add_custom_role" data-toggle="modal" data-target=".modal-add-role"><i class="fa fa-edit m-right-xs"></i> Add a custom role</a>
                                                <br />

                                                <div class="modal fade modal-add-role" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog modal-sm">
                                                        <div class="modal-content">

                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                                                </button>
                                                                <h4 class="modal-title" id="myModalLabel2">Modal title</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h4>Text in a modal</h4>
                                                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary">Save changes</button>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock main_content %}

{% block javascript %}
    {% javascripts
            '@jquery_js'
            '@bootstrap_js'
            '@fastclick_js'
            '@nprogress_js'
            '@morris_js'
            '@bootstrap_progressbar_js'
            '@moment_js'
            '@bootstrapDateRangePicker_js'
            '@pnotify_js'
            '@customTheme_js'
            '@dropzone_js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {# Script to launch only if the user has no team #}
    {% if app.user.team is null %}
        <script>
            $(document).ready(function() {
                new PNotify({
                    title:      'You have no team !',
                    text:       'You must be in a team to participate in challenges',
                    type:       'info',
                    styling:    'bootstrap3'
                });
            });
        </script>
    {% endif %}

    <script>
        // function to show on the form for team creation
        function showFormTeam() {
            $("#form_create_team").slideToggle();
        }
    </script>

    <script>
        $(function() {
            Morris.Bar({
                element: 'graph_bar',
                data: [
                    { "period": "Jan", "Hours worked": 80 },
                    { "period": "Feb", "Hours worked": 125 },
                    { "period": "Mar", "Hours worked": 176 },
                    { "period": "Apr", "Hours worked": 224 },
                    { "period": "May", "Hours worked": 265 },
                    { "period": "Jun", "Hours worked": 314 },
                    { "period": "Jul", "Hours worked": 347 },
                    { "period": "Aug", "Hours worked": 287 },
                    { "period": "Sep", "Hours worked": 240 },
                    { "period": "Oct", "Hours worked": 211 }
                ],
                xkey: 'period',
                hideHover: 'auto',
                barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
                ykeys: ['Hours worked', 'sorned'],
                labels: ['Hours worked', 'SORN'],
                xLabelAngle: 60,
                resize: true
            });

            $MENU_TOGGLE.on('click', function() {
                $(window).resize();
            });
        });
    </script>

    {# datepicker #}
    <script type="text/javascript">
        $(document).ready(function() {

            var cb = function(start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
            }

            var optionSet1 = {
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: '12/31/2015',
                dateLimit: {
                    days: 60
                },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'left',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            };
            $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#reportrange').daterangepicker(optionSet1, cb);
            $('#reportrange').on('show.daterangepicker', function() {
                console.log("show event fired");
            });
            $('#reportrange').on('hide.daterangepicker', function() {
                console.log("hide event fired");
            });
            $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
                console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
            });
            $('#reportrange').on('cancel.daterangepicker', function(ev, picker) {
                console.log("cancel event fired");
            });
            $('#options1').click(function() {
                $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
            });
            $('#options2').click(function() {
                $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
            });
            $('#destroy').click(function() {
                $('#reportrange').data('daterangepicker').remove();
            });
        });
    </script>
    {# /datepicker #}
{% endblock javascript %}