{% trans_default_domain "players-challenges-solving" %}
{% extends "PlayerBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    '@iCheck'
    '@bootstrap_progressBar'
    '@jVectorMap'
    '@hightlightjs_css'

    filter='cssrewrite'
    %}
    <link href="{{ asset_url }}" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock stylesheets %}

{% block main_content %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>
                    Challenge Solving
                </h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="col-md-9 col-sm-9 col-xs-12">

                      <ul class="stats-overview">
                        <li>
                          <span class="name"> Points </span>
                          <span class="value text-success"> {{ challenge.points }} </span>
                        </li>
                        <li>
                          <span class="name"> Difficulty </span>
                          <span class="value text-success"> {% for i in range(1, challenge.level) %}<i class="fa fa-star"></i>{% endfor %} </span>
                        </li>
                        <li class="hidden-phone">
                          <span class="name"> Time spent </span>
                          <span class="value text-success" id="chronotime">00:00:00</span>
                        </li>
                      </ul>
                      <br />

                      <p>{{ challenge.statement|raw }}</p>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12">

                        <section class="panel">

                            <div class="x_title">
                                <h2>Challenge informations</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <h3 class="green">{{ challenge.title }}</h3>

                                <p>{{ challenge.description }}</p>
                                <br />

                                <div class="project_detail">

                                    <p class="title">Author</p>
                                    <p>{{ challenge.author.username }}</p>
                                </div>

                                <br />
                                <h5>Related resources</h5>
                                <ul class="list-unstyled project_files">
                                    <li><a href=""><i class="fa fa-file-word-o"></i> Functional-requirements.docx</a>
                                    </li>
                                    <li><a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a>
                                    </li>
                                    <li><a href=""><i class="fa fa-mail-forward"></i> Email-from-flatbal.mln</a>
                                    </li>
                                    <li><a href=""><i class="fa fa-picture-o"></i> Logo.png</a>
                                    </li>
                                    <li><a href=""><i class="fa fa-file-word-o"></i> Contract-10_12_2014.docx</a>
                                    </li>
                                </ul>
                                <br />
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block javascript %}
    {% javascripts
        '@jquery_js'
        '@bootstrap_js'
        '@fastclick_js'
        '@customTheme_js'
        '@highlightjs_js'
        '@moment_js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {# Script for hightlight #}
    <script>
        hljs.initHighlightingOnLoad();
    </script>

    {# Script for the counter #}
    <script>
        $(document).ready(function() {
            var timeSpent   = $("#chronotime");
            var end;

            function elapsed(end) {
                var start = moment("{{ challengeSolve.dateStart|date("m-d-y H:i:s") }}", "MM-DD-YY HH:mm:ss");

                var diff  = end.diff(start, 'seconds');
                var seconds = diff - Math.floor(diff/60)*60;
                var minutes = Math.floor(diff/60) - Math.floor((Math.floor(diff/60)/60))*60;
                var hours   = Math.floor(Math.floor(diff/60)/60);

                return hours + ":" + minutes + ":" + seconds;
            }

            setInterval(function() {
                end = moment();
                timeSpent.html(elapsed(end));
            }, 1000);
        });
    </script>
{% endblock %}