{% trans_default_domain "players-challenges-by-category" %}
{% extends "PlayerBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    '@iCheck'
    '@bootstrap_progressBar'
    '@jVectorMap'

    filter='cssrewrite'
    %}
    <link href="{{ asset_url }}" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock stylesheets %}

{% block main_content %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>
                    Available challenges in <b>{{ category.title }}</b>
                </h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <h2 align="center">{{ category.description }}</h2>

                    <br>
                    <div class="x_content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Result</th>
                                    <th>Title</th>
                                    <th>Validations</th>
                                    <th>Number of points</th>
                                    <th>Difficulty</th>
                                    <th>Note</th>
                                    <th>Author</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for challenge in challenges %}
                                    <tr>
                                        <th>
                                            {% if challenge.id in challengesSolved %}
                                                <i class="fa fa-check" title="You have solved this challenge"></i>
                                            {% else %}
                                                <i class="fa fa-close" title="You have'nt solved this challenge yet"></i>
                                            {% endif %}
                                        </th>
                                        <td>{{ challenge.title }}</td>
                                        <td>
                                            {# TODO: Validation #}
                                        </td>
                                        <td>{{ challenge.points }}</td>
                                        <td>
                                            {% for i in range(1, challenge.level) %}
                                                <i class="fa fa-star"></i>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {# TODO: Note #}
                                        </td>
                                        <td>{{ challenge.author.username }}</td>
                                        <td>
                                            {% if challenge.id not in challengesSolved %}
                                                <button data_challenge="{{ challenge.description }}" class="btn btn-primary buttonSolveChallenge" type="button" data-toggle="modal" data-target=".modal-confirm-start-challenge" url_start="{{ path('player_challenge_start', {'challengeId': challenge.id}) }}">Solve</button>
                                            {% else %}
                                                <button type="button" class="btn btn-success">Rate</button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="modal fade modal-confirm-start-challenge" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel2">Confirmation</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4>You are about to solve a new challenge</h4>
                                        <p align="justify">If you confirm, you will begin this challenge with your team, meaning that all members will be automatically redirected to this challenge when trying to access challenges.</p>
                                        <p align="justify">Information about this challenge: <br><b id="challengeDescription"></b></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" id="buttonStartChallenge">Start</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block javascript %}
    {% javascripts
    '@jquery_js'
    '@bootstrap_js'
    '@fastclick_js'
    '@customTheme_js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function() {
            var buttonsSolve         = $(".buttonSolveChallenge");
            var challengeDescription = $("#challengeDescription");
            var buttonStartChallenge = $("#buttonStartChallenge");

            // on the button click
            buttonsSolve.on('click', function() {
                // setting description for information
                challengeDescription.html(
                    $(this).attr("data_challenge")
                );

                buttonStartChallenge.attr("url_start", $(this).attr("url_start"));

                // setting onclick setting for the start button
                buttonStartChallenge.attr(
                    'onclick',
                    "window.location.href='" + $(this).attr("url_start") + "'"
                );
            });
        });
    </script>
{% endblock %}