{% trans_default_domain "players-my-team" %}

{% extends "PlayerBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@iCheck' '@datatables_css' '@pnotify_css' filter='cssrewrite' %}
    <link href="{{ asset_url }}" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock stylesheets %}

{% block main_content %}
    <div class="">

        <div class="page-title">
            <div class="title_left">
                <h3>
                    {{ "title" | trans | desc("My Team") | meaning("Title") }}
                </h3>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            {# List of administrators #}
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ "table.title" | trans | desc("Details and information about your team") | meaning("Title for the table") }}</h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        {# If no team #}
                        {% if app.user.team is null %}
                            {% form_theme form
                                    '@Player/form/form_rows_manager.html.twig'
                                    '@Player/form/form_errors_manager.html.twig'
                            %}
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            {% image '@pic_create_team' %}
                                                <img style="width: 100%; display: block;" src="{{ asset_url }}" alt="image" />
                                            {% endimage %}
                                        </div>
                                        <div class="caption">
                                            <p align="center"><a href="javascript:void(0);" onclick="showFormTeam()">Create a team</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            {% image '@pic_join_team' %}
                                                <img style="width: 100%; display: block;" src="{{ asset_url }}" alt="image" />
                                            {% endimage %}
                                        </div>
                                        <div class="caption">
                                            <p align="center"><a href="{{ path('player_teams_list') }}">Join a team</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="form_create_team" style="display: none;">
                                {{ form_start(form, {'id': 'demo-form2', 'attr': {'class': 'form-horizontal form-label-left'}}) }}
                                    {{ form_row(form.name) }}

                                    <div class="ln_solid"></div>

                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                            <button type="button" onclick="showFormTeam()" class="btn btn-primary">{{ "form.cancel-button" | trans | desc("Cancel") | meaning("Cancel button") }}</button>
                                            {{ form_widget(form.save) }}
                                        </div>
                                    </div>
                                {{ form_end(form) }}
                            </div>
                        {% else %}
                            {# TODO: Team information #}
                            <div>I have a team !</div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock main_content %}

{% block javascript %}
    {% javascripts '@jquery_js' '@bootstrap_js' '@fastclick_js' '@nprogress_js' '@iCheck_js' '@datatables_js' '@customTheme_js' '@pnotify_js'%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        var hasATeam = true;
        {% if app.user.team is null %}
            hasATeam = false;
        {% endif %}

        $(document).ready(function() {
            if (false === hasATeam) {
                new PNotify({
                    title:      'You have no team !',
                    text:       'You must be in a team to participate in challenges',
                    type:       'info',
                    styling:    'bootstrap3'
                });
            }
        });

        // function to show on the form for team creation
        function showFormTeam() {
            $("#form_create_team").slideToggle();
        }
    </script>
{% endblock javascript %}