{% trans_default_domain "players-create-team" %}

{% extends "PlayerBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@iCheck' '@datatables_css' '@pnotify_css' filter='cssrewrite' %}
    <link href="{{ asset_url }}" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock stylesheets %}

{% block main_content %}
    <div class="">

        <div class="page-title">
            <div class="title_left">
                <h3>
                    {{ "title" | trans | desc("Team creation") | meaning("Title") }}
                </h3>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            {# List of administrators #}
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ "table.title" | trans | desc("Create your own team to participate to other challenges !") | meaning("Title for the table") }}</h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock main_content %}

{% block javascript %}
    {% javascripts '@jquery_js' '@bootstrap_js' '@fastclick_js' '@nprogress_js' '@iCheck_js' '@datatables_js' '@customTheme_js' '@pnotify_js'%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock javascript %}