{% trans_default_domain "players-teams-ranking" %}

{% extends "PlayerBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@iCheck' '@datatables_css' filter='cssrewrite' %}
    <link href="{{ asset_url }}" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock stylesheets %}

{% block main_content %}
    <div class="">

        <div class="page-title">
            <div class="title_left">
                <h3>
                    {{ "title" | trans | desc("Ranking") | meaning("Title") }}
                </h3>
            </div> 10 points


        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                <h1>Top 3</h1><br>
                            </div>

                            <div class="clearfix"></div>
                            {% for i in range(0, 2) %}
                                {% if teams[i] is defined %}
                                <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                    <div class="well profile_view">
                                        <div class="col-sm-12">
                                            <h4 class="brief">
                                                <i>
                                                    {% if loop.first %}
                                                        First
                                                    {% elseif loop.last %}
                                                        Third
                                                    {% else %}
                                                        Second
                                                    {% endif %}
                                                </i>
                                            </h4>
                                            <div class="left col-xs-7">
                                                <h2>{{ teams[i].name }}</h2>
                                                <p><strong>Leader: </strong> {{ teams[i].leader.username }}</p>
                                                <ul class="list-unstyled">
                                                    <li><i class="fa fa-trophy"></i> {{ teams[i].points }} points</li>
                                                </ul>
                                            </div>
                                            <div class="right col-xs-5 text-center">
                                                {% if teams[i].avatarName is not null %}
                                                    <img src="{{ vich_uploader_asset(teams[i], 'avatar') }}" alt="" class="img-circle img-responsive">
                                                {% else %}
                                                    {% image '@pic_team_base_logo' %}
                                                        <img src="{{ asset_url }}" alt="" class="img-circle img-responsive">
                                                    {% endimage %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-xs-12 bottom text-center">
                                            <div class="col-xs-12 col-sm-6 emphasis"></div>

                                            <div class="col-xs-12 col-sm-6 emphasis">
                                                <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                                    </i> <i class="fa fa-comments-o"></i> </button>
                                                <button type="button" class="btn btn-primary btn-xs">
                                                    <i class="fa fa-user"> </i> View Page
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}

                            <div class="clearfix"></div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h1 class="text-center">Global ranking</h1><br>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th>Name</th>
                                        <th>Leader</th>
                                        <th>Points</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for team in teams %}
                                            <tr>
                                                <th scope="row">{{ loop.index }}</th>
                                                <td>{{ team.name }}</td>
                                                <td>{{ team.leader.username }}</td>
                                                <td>{{ team.points }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block javascript %}
    {{ parent() }}

    {% javascripts
        '@fastclick_js'
        '@nprogress_js'
        '@iCheck_js'
        '@datatables_js'

        '@customTheme_js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {# Script for the datatable #}
    <script>
        $(document).ready(function() {
            $('#datatable').dataTable();
        });
    </script>
{% endblock javascript %}