{% trans_default_domain "administration-players-management" %}
{% extends "AdminBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@iCheck' '@datatables_css' filter='cssrewrite' %}
        <link href="{{ asset_url }}" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock stylesheets %}

{% block main_content %}
    <div class="">

    <div class="page-title">
        <div class="title_left">
            <h3>
                {{ "title" | trans | desc("Players management") | meaning("Players management") }}
            </h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        {# Players management #}
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ "table.title" | trans | desc("List of administrators") | meaning("Title for the table") }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable" class="table table-striped table-bordered" style="margin: auto">
                        <thead>
                        <tr>
                            <th>{{ "table.th1" | trans | desc("Firstname") | meaning("th1") }}</th>
                            <th>{{ "table.th2" | trans | desc("Lastname") | meaning("th2") }}</th>
                            <th>{{ "table.th3" | trans | desc("Username") | meaning("th3") }}</th>
                            <th>{{ "table.th4" | trans | desc("Email") | meaning("th4") }}</th>
                            <th>{{ "table.th5" | trans | desc("Email (2)") | meaning("th5") }}</th>
                            <th>{{ "table.th6" | trans | desc("Birthday") | meaning("th6") }}</th>
                            <th>{{ "table.th7" | trans | desc("Actions") | meaning("th7") }}</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for player in players %}
                            <tr>
                                <td>{{ player.infoUser.firstName }}</td>
                                <td>{{ player.infoUser.lastName }}</td>
                                <td>{{ player.username }}</td>
                                <td>{{ player.email }}</td>
                                <td>{{ player.emailBack }}</td>
                                <td>{{ player.infoUser.birthday|date('m-d-Y') }}</td>
                                <td align="center">
                                    <a title="{{ "a.title1" | trans | desc("Send a message") | meaning("Block a title1") }}" href="javascript:void(0)"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></a>
                                    <a title="{{ "a.title2" | trans | desc("Edit")           | meaning("Block a title2") }}" href="javascript:void(0)"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a>
                                    <a title="{{ "a.title3" | trans | desc("Reset password") | meaning("Block a title3") }}" href="{{ path('administration_resetPassword', {'id': player.id}) }}"><i class="fa fa-recycle fa-fw" aria-hidden="true"></i></a>
                                    <a title="{{ "a.title4" | trans | desc("Remove")         | meaning("Block a title4") }}" href="javascript:void(0)"><i class="fa fa-times fa-fw" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block javascript %}
    {% javascripts
        '@jquery_js'
        '@bootstrap_js'
        '@fastclick_js'
        '@nprogress_js'
        '@iCheck_js'
        '@datatables_js'
        '@customTheme_js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function() {
            $('#datatable').dataTable({
                pageLength: 25
            });
        });
    </script>
{% endblock javascript %}